<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="/js/registration.js"></script>
    <title>registration page</title>
  </head>
  <body>
    <div class="header">
      <form>
        <h1>register here</h1>
        
          <div class="centered">
            <input
              type="text"
              id="myInput"
              onkeyup="myFunction()"
              placeholder="Search for names.."
            />
            <button class="search-btn" type="button">search by pin</button>

            <table id="myTable">
              <!-- <% JSON.stringify(center)%> -->
              <tr class="header2">
                <th style="width: 60%">LOCATION</th>
                <th style="width: 40%">PIN CODE</th>
                <th style="width: 40%">DATE</th>
              </tr>
              <% console.log(center) %> <% for(var i = 0 ; i < center.length ;
              i++){ %>
              <tr>
                <td><%= center[i].name %></td>
                <td><%= center[i].pin %></td>
                <td><%= center[i].slots %></td>
                <td><%= center[i].address %></td>
                <td><%= center[i].paid_free %></td>
                <td><%= center[i].age %></td>
                <td><%= center[i].vaccine %></td>
              </tr>
              <% } %>
            </table>
          
        </div>
        <div>
          <div class="centered">
            <iframe id="map"
              src="https://www.google.com/maps/d/embed?mid=1Jvw5a0QX8UFMvlZYwUNFpNI-QVWiAddi"
              width="640"
              height="480"
            ></iframe>
          </div>
        </div>
        <div>
          <button class="submit-btn" type="button">register your shot</button>
        </div>
      </form>
    </div>
  </body>
</html>
