<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/css/van_page.css" />
    <script defer src="/js/registration.js"></script>
    <title>Van system</title>
  </head>
  <body>
    <div class="header">
      <form>
        <h1 class="animate__animated animate__bounce">Van system</h1>

        <input
          type="text"
          id="myInput"
          onkeyup="myFunction()"
          placeholder="Search for names.."
        />
        <button class="search-btn" type="button">Search by Pin</button>

        <table id="myTable">
          <% JSON.stringify(center)%>
          <tr class="header2">
            <th style="width: 60%">LOCATION</th>
            <th style="width: 40%">PIN CODE</th>
            <th style="width: 40%">DATE</th>
          </tr>
          <% for(var i = 0 ; i < center.length ; i++){ %>
          <tr>
            <td><%= center[i].name %></td>
            <td><%= center[i].pin %></td>
            <td><%= center[i].slots %></td>
            <td><%= center[i].address %></td>
            <td><%= center[i].paid_free %></td>
            <td><%= center[i].age %></td>
            <td><%= center[i].vaccine %></td>
          </tr>
          <% } %>
        </table>
        <iframe
          id="map"
          src="https://www.google.com/maps/d/embed?mid=1Jvw5a0QX8UFMvlZYwUNFpNI-QVWiAddi"
          width="640"
          height="480"
        ></iframe>
        <div></div>
        <div>
          <a class="skip-btn" href="/registration"
            >Skipped The Date ? Visit The Centre</a
          >
        </div>
        <div class="covid"></div>
      </form>
    </div>
  </body>
</html>
