<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user_profile.css"/>
    <title>User Profile</title>
  </head>

  <body>
    <div class="secretcode">Secret Code</div>

    <div class="value"><%= book.secret_code %></div>
    <div class="livetoken">Reach center in</div>
    <div class="numberCircle" id="timeAllot"></div>
    <div class="yourtoken">Your Token</div>
    <div class="numberCircle2" id="tokenNO"><%= book.token %></book.token></div>
    <div class="user">
      Hi, <br>
      Verification Method : <b class='details'>Aadhar Card</b><br />
      Center Name : <b class='details'><%= book.center_name %> </b> <br />
      Center Address : <b class='details'><%= book.center_address %></b><br />
      City : <b class='details'><%= book.city %></b><br />
      Dose Number : <b class='details'><%= book.dose %></b><br />
      Age : <b class='details'><%= book.age %></b><br />
      Current Token : <b class='details' id='current_token'><%= c_token %></b><br />
    </div>
    <div class="certify">
      <button id="cer" class="button1" onclick="location.href='<%= cert %>';" name="button" disabled>Certificate</button>
    </div>
    <script type="text/javascript">
      var token = document.getElementById("tokenNO").innerHTML*1;
      token -= document.getElementById("current_token").innerHTML*1;
      var time = (token-1)*1000*60*5;

      function msToTime(duration) {
      var minutes = Math.floor((duration / (1000 * 60)) % 60),
        hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;

        return hours + ":" + minutes;
      }
      console.log(msToTime(time));
      const timeDoc = document.getElementById("timeAllot");
      if(token>0){
        timeDoc.innerHTML = msToTime(time);
      } else if(token==0){
        timeDoc.innerHTML = msToTime(time);
      } else {
        document.getElementById('cer').disabled=false;
        timeDoc.innerHTML = 'Time passed';

      }

    </script>
  </body>
</html>
